# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
/week9-week9_17.FirstPackages/nbproject/private/
/week9-week9_19.MethodArgumentValidation/nbproject/private/
/week9-week9_18.Moving/nbproject/private/
/week8-week8_16.SkiJumping/build/
/week9-week9_17.FirstPackages/build/
/week9-week9_17.FirstPackages/dist/
/week9-week9_18.Moving/build/
/week9-week9_19.MethodArgumentValidation/build/
/week8-week8_16.SkiJumping/dist/
/week10-week10_32.DifferentBoxes/nbproject/private/
/week10-week10_32.DifferentBoxes/build/
/week11-week11_39.ClickEffect/nbproject/private/
/week11-week11_41.DrawingBoard/nbproject/private/
/week11-week11_42.MovingFigure/nbproject/private/
/week11-week11_43.GameOfLife/nbproject/private/
/week11-week11_39.ClickEffect/build/
/week11-week11_41.DrawingBoard/build/
/week11-week11_42.MovingFigure/build/